* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(220, 234, 248, 0.696);
    font-family: 'Kanit', sans-serif;
}

header{
    background-color: white;
}

main .container{
    background-color: white;
    padding: 20px 5% 30px;
    border-radius: 10px;
}


.row{
    width: 100%;
}

button{
    margin-left: 5px;
}

.btn{
    padding: 3px 10px;
}

.delete{
    border: none;
    background-color: transparent;
    margin-left: 20px;
    vertical-align:middle;
}

li{
   padding: 10px 0px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}