<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script defer src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script defer src="./js/script.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <div class="container-fluid d-flex align-items-center flex-column">
                <div class="row my-3">
                    <div class="col-12"><h1>Boolean: Esercizio To-Do List</h1></div>
                </div>
            </div>
        </header>
        <main>
            <div class="container d-flex align-items-center flex-column my-5 ">
                <div class="row">
                    <div class="col">
                        <div class="content">
                            <div class="text-center">
                                <h4>To-Do List del <span>{{dataOdierna()}}</span></h4>
                                <div v-if="tasks.length === 0">
                                    <p>Non sono presenti attività per oggi, puoi inserirne delle nuove in ogni momento.<br>&#8595; Digitala qua sotto &#8595;</p>
                                </div>
                                <hr> 
                            </div>
                            <ul class="list-unstyled">
                                <li v-for="(task, index) in tasks">
                                    <div class="d-flex justify-content-between">
                                        <div :class="task.done ? 'text-decoration-line-through fw-lighter' : ''" >{{task.taskText}}</div>
                                        <div>
                                            <button class="btn" :class="task.done ? 'btn-danger' : 'btn-success'" @click="changeTaskStatus(index)">
                                                <i :class="task.done ? 'fa-solid fa-arrows-rotate fa-flip-horizontal' : 'fa-solid fa-check'"></i>
                                            </button>
                                            <button class="delete" @click="deleteTask(index)">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
<!-- -->